### Core Latex Auxiliary Files:

*.aux
*.log
*.out


### Intermediate Documents:

*.pdf


### Bibliography Auxiliary Files:

*.bbl
*.blg


### Auxiliary and Intermediate Files From Other Packages:


### Editors:

# vim
*~
